<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div> 
		<div class="modal fade" id="myModal" tabindex="-1">
		 	<div class="modal-dialog modal-lg">
		    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" th:text="${indicateur.libelle}"></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
		      <div class="modal-body">
		     	<style>
				    label.invalid{font-size:12.8px;font-size:.8rem;font-weight:500;color:red!important;top:50px!important}label.invalid.active{-webkit-transform:translateY(0)!important;-ms-transform:translateY(0)!important;transform:translateY(0)!important}ul.stepper .wait-feedback{left:0;right:0;top:0;z-index:2;position:absolute;width:100%;height:100%;text-align:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}ul.stepper .step{position:relative;list-style:none}ul.stepper .step.feedbacking .step-new-content>:not(.wait-feedback){opacity:.1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"}ul.stepper .step:not(:last-of-type).active{margin-bottom:2.25rem}ul.stepper .step:before{position:absolute;top:.75rem;counter-increment:section;content:counter(section);height:1.75rem;width:1.75rem;color:#fff;background-color:rgba(0,0,0,.3);-webkit-border-radius:100%;border-radius:100%;text-align:center;line-height:1.75rem;font-weight:400}ul.stepper .step.done:before,ul.stepper .step.wrong:before{font-family:'Font Awesome 5 free';font-weight:900}ul.stepper .step.active:before{background-color:#4285f4}ul.stepper .step.done:before{content:'\f00c';font-size:1rem;background-color:#00c851}ul.stepper .step.wrong:before{content:'\f071';font-size:1.1rem;background-color:#ff3547}ul.stepper>li:not(:last-of-type){margin-bottom:.625rem;-webkit-transition:margin-bottom .4s;-o-transition:margin-bottom .4s;transition:margin-bottom .4s}ul.stepper .step-title{margin:0 -1.3rem;cursor:pointer;padding:.9688rem 2.75rem 1.5rem 4rem;display:block}ul.stepper .step-title:after{content:attr(data-step-label);display:block;position:absolute;font-size:.8rem;color:#424242;font-weight:400}ul.stepper .step-title:hover{background-color:rgba(0,0,0,.06)}ul.stepper .step.active .step-title{font-weight:500}ul.stepper .step-new-content{position:relative;display:none;height:calc(100% - 132px);width:inherit;overflow:visible;margin-left:41px;margin-right:24px}ul.stepper>.step:not(:last-of-type):after{content:'';position:absolute;top:3.125rem;left:.8438rem;width:.0625rem;height:40%;height:calc(100% - 38px);background-color:rgba(0,0,0,.1);-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s}ul.stepper>.step.active:not(:last-child):after{height:93%;height:calc(100% - 12px)}ul.stepper>.step[data-last=true]{margin-bottom:0}ul.stepper>.step[data-last=true]:after{height:0;width:0}ul.stepper .step-actions{display:-webkit-box;-webkit-box-pack:start}ul.stepper .step-actions .btn-flat:not(:last-child),ul.stepper .step-actions .btn-large:not(:last-child),ul.stepper .step-actions .btn:not(:last-child){margin-right:.3125rem}ul.stepper .step-new-content .row{margin-bottom:.4375rem}ul.stepper .md-form label{left:.875rem}ul.stepper .md-form .validate{margin-bottom:0}@media only screen and (min-width:993px){ ul.stepper.horizontal{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;min-height:20rem;margin-left:-1.5rem;margin-right:-1.5rem;padding-left:1.5rem;padding-right:1.5rem;overflow:hidden} ul.stepper.horizontal:before{content:'';background-color:transparent;width:100%;min-height:5.25rem;position:absolute;left:-3px;-webkit-border-top-left-radius:2px;border-top-left-radius:2px} ul.stepper.horizontal:first-child{margin-top:-2.7rem} ul.stepper.horizontal .step{position:static;margin:0;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:5.25rem!important} ul.stepper.horizontal .step:not(:last-of-type):after{content:'';position:static;display:inline-block;width:100%;height:.0625rem} ul.stepper.horizontal>.step:last-of-type, ul.stepper.horizontal>.step[data-last=true]{width:auto!important} ul.stepper.horizontal>.step.active:not(:last-of-type):after{content:'';position:static;display:inline-block;width:100%;height:.0625rem} ul.stepper.horizontal .step.active .step-title:before{background-color:#4285f4} ul.stepper.horizontal .step.done .step-title:before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f00c';font-size:1rem;background:#00c851} ul.stepper.horizontal .step.wrong .step-title:before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f071';font-size:1.1rem;background-color:#ff3547} ul.stepper.horizontal .step-title{line-height:5.25rem;height:5.25rem;margin:0;padding:0 1.5625rem 0 4.0625rem;display:inline-block;max-width:13.75rem;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0} ul.stepper.horizontal .step:before{content:none} ul.stepper.horizontal .step .step-title:before{position:absolute;top:1.7813rem;left:1.1875rem;counter-increment:section;content:counter(section);height:1.75rem;width:1.75rem;color:#fff;background-color:rgba(0,0,0,.3);-webkit-border-radius:100%;border-radius:100%;text-align:center;line-height:1.75rem;font-weight:400} ul.stepper.horizontal .step-title:after{top:.9375rem} ul.stepper.horizontal .step-new-content{position:absolute;height:calc(100% - 84px);top:6rem;left:0;width:100%;overflow-y:auto;overflow-x:hidden;margin:0;padding:1.25rem 1.25rem 4.75rem} ul.stepper.horizontal .step-actions{position:absolute;bottom:0;left:0;width:100%;padding:20px;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse} ul.stepper.horizontal .step-actions .btn-flat:not(:last-child), ul.stepper.horizontal .step-actions .btn-large:not(:last-child), ul.stepper.horizontal .step-actions .btn:not(:last-child){margin-left:.3125rem;margin-right:0} ul.stepper.horizontal .step-actions, ul.stepper.horizontal .step-new-content{padding-left:2.5rem;padding-right:2.5rem}}
				    ul.horizontal-fix li a {
				        padding: .84rem 2.14rem;
				        }
				        
					.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
				</style>
		
				<script type="text/javascript">
				  var zNodesSousGroupe =[
					  { id:0, pId:0, name:"/", open:true}
				  ];
				  
				  var zNodesSousGroupeSelectionnes =[];
				</script>

				<script th:inline="javascript">
				  
				  /*[#th:block th:each="sousGroupe : ${sousGroupes}"]*/
						/*[# th:if="${sousGroupe.parent}"]*/
							 /*[+ zNodesSousGroupe.push({'id':[[${sousGroupe.code}]], 'pId':[[${sousGroupe.parent.code}]], 'name':[[${sousGroupe.libelle}]]}) +]*/
						/*[/]*/
						
						/*[# th:unless="${sousGroupe.parent}"]*/
							 /*[+ zNodesSousGroupe.push({'id':[[${sousGroupe.code}]], 'pId':0, 'name':[[${sousGroupe.libelle}]]}) +]*/
						/*[/]*/
				   
				  /*[/th:block]*/
  
				  
				  
				  /*[#th:block th:each="sousGroupeIndicateur : ${sousGroupesIndicateur}"]*/
						/*[+ zNodesSousGroupeSelectionnes.push({'id':[[${sousGroupeIndicateur.sousGroupe.code}]], 'name':[[${sousGroupeIndicateur.sousGroupe.libelle}]]}) +]*/
				   
				  /*[/th:block]*/

				</script>
				<script type="text/javascript" th:inline="javascript">
					var tempNode = null;
					var log, className = "dark";
					var newCount = 0;
						
					var settingSousGroupe = {
						view: {
							showIcon: showIconForTree,
							addHoverDom: addHoverDomSousGroupe,
							removeHoverDom: removeHoverDomSousGroupe
							
						},
						data: {
							simpleData: {
								enable: true
							}
						},
						edit: {
							enable: true,
							editNameSelectAll: true,
							showRemoveBtn: true,
							showRenameBtn: true
						},
						callback: {
							beforeClick: beforeClickSousGroupe,
							onClick: onClickSousGroupe,
							beforeDblClick : beforeDblClickSousGroupe,
							onDblClick: onDblClickSousGroupe,
							beforeEditName: beforeEditNameSousGroupe,
							beforeRemove: beforeRemoveSousGroupe,
							beforeRename: beforeRenameSousGroupe,
							onRemove: onRemoveSousGroupe,
							onRename: onRenameSousGroupe
							
						}
					};
					
					function beforeClickSousGroupe(treeId, treeNode, clickFlag) {
						return (treeNode.click != false);
					}
					function onClickSousGroupe(event, treeId, treeNode, clickFlag) {
						
					}
					function beforeDblClickSousGroupe(treeId, treeNode) {
						return (treeNode.click != false);
					};
					
					function onDblClickSousGroupe(event, treeId, treeNode) {
						
						if(treeId == "liste_sousGroupe")
						{
							source = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							destination = $.fn.zTree.getZTreeObj("liste_sousGroupe_selectionnes");
							selectNode(source.getSelectedNodes()[0], source, destination);
									
							
						}
						else if(treeId == "liste_sousGroupe_selectionnes")
						{
							indicateurId = $('#indicateur').val();
							var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe_selectionnes");
							var treeNodes = sourceTreeObj.getSelectedNodes();
		
							var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe");				
							var params =[];	
							var sousGroupe = treeNodes[0];
							sourceTreeObj.removeNode(sousGroupe);
							params[0] = sousGroupe.id;
								
							$.post('/suppressionSousGroupeIndicateur',{params:params,indicateurId:indicateurId},function(dat){
							});
							
							
						}
						
					};
					
					function showIconForTree(treeId, treeNode) {
						/*return !treeNode.isParent;*/
					};
					
					function beforeEditNameSousGroupe(treeId, treeNode) {
						var zTree = $.fn.zTree.getZTreeObj("liste_sousGroupe");
						zTree.selectNode(treeNode);
						setTimeout(function() {
								zTree.editName(treeNode);
							}, 0);
						return false;
					}
					function beforeRenameSousGroupe(treeId, treeNode, newName, isCancel) {
						className = (className === "dark" ? "":"dark");
						if (newName.length == 0) {
							setTimeout(function() {
								var zTree = $.fn.zTree.getZTreeObj("liste_sousGroupe");
								zTree.cancelEditName();
								alert("le libelle ne doit pas être vide");
							}, 0);
							return false;
						}
							
						return true;
					}
					function onRenameSousGroupe(e, treeId, treeNode, isCancel) {
						
						if(tempNode != null)
						{
							$.post('/sousGroupe',{code:treeNode.id,libelle:treeNode.name},function(id){
								treeNode.id = id;
								
							});
							
							tempNode = null;
						}
						else
						{
							$.post('/updateSousGroupe',{code:treeNode.id,libelle:treeNode.name},function(id){
								
							});
							
						}
					}
					function beforeRemoveSousGroupe(treeId, treeNode) {
						className = (className === "dark" ? "":"dark");
						var zTree = $.fn.zTree.getZTreeObj("liste_sousGroupe");
						zTree.selectNode(treeNode);
						return confirm("Confirmer la suppression de l'sousGroupe : " + treeNode.name);
					}
					function onRemoveSousGroupe(e, treeId, treeNode) {
						$.post('/deleteSousGroupe',{code:treeNode.id,libelle:treeNode.name},function(id){
							
						});
					}
					
					var newCount = 0;
					function addHoverDomSousGroupe(treeId, treeNode) {
						if(treeNode.id == 0){
						var sObj = $("#" + treeNode.tId + "_span");
						if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
						var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
							+ "' title='ajouter un élément' onfocus='this.blur();'></span>";
						sObj.after(addStr);
						var btn = $("#addBtn_"+treeNode.tId);
						
						if (btn) btn.bind("click", function(){
							if(treeNode.children != null)
								var indice = treeNode.children.length;
							else
								var indice = 0;
							var zTree = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							var newNode_name = "nouveau sousGroupe";
							newCount++;
							var newNode = {id:newCount, pId:treeNode.id, name:newNode_name};
							zTree.addNodes(treeNode, newNode);
							
							tempNode = newNode;
							
							last_node = treeNode.children[0];
							zTree.selectNode(last_node);
							setTimeout(function(dat) {
										zTree.editName(last_node);
									}, 0);
									
							return false;
							
						});
						
					}	
					};
					function addHoverDomSousGroupe2(treeId, treeNode) {
						
						var sObj = $("#" + treeNode.tId + "_span");
						if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
						var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
							+ "' title='ajouter un élément' onfocus='this.blur();'></span>";
						sObj.after(addStr);
						var btn = $("#addBtn_"+treeNode.tId);
						
						if (btn) btn.bind("click", function(){
							if(treeNode.children != null)
								var indice = treeNode.children.length;
							else
								var indice = 0;
							var zTree = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							var newNode_name = "nouveau sousGroupe";
							newCount++;
							var newNode = {id:newCount, pId:treeNode.id, name:newNode_name};
							zTree.addNodes(treeNode, newNode);
							
							tempNode = newNode;
							
							last_node = treeNode.children[0];
							zTree.selectNode(last_node);
							setTimeout(function(dat) {
										zTree.editName(last_node);
									}, 0);
									
							return false;
							
						});
						
						
					};
					function removeHoverDomSousGroupe(treeId, treeNode) {
						$("#addBtn_"+treeNode.tId).unbind().remove();
					};
				</script>
				<input id="indicateur" type="hidden" th:attr="value=${indicateur.code}" >
				<table id="tb_strategie" style="width:100%;min-height:90%">
					<thead>
						<tr style="background:#f8f9fa">
							<th style="width:50%;padding:10px;">Sous Groupes disponibles
								<span class="float-right">
									<a href="#"><i class="mdi mdi-file-upload" style="padding-right:15px"></i></a>
									<a href="#" id="transfererSousGroupeDisponibleVersSelectionne"><i class="fas fa-angle-right" style="padding-right:15px"></i></a>
									<a href="#" id="transfererToutSousGroupeDisponibleVersSelectionne"><i class="fas fa-angle-double-right" style="padding-right:15px"></i></a>
								</span>
							</th>
							<th style="width:50%;padding:10px;">Sous Groupes sélectionnés
								<span class="float-right">
									<a href="#" id="transfererSousGroupeSelectionneVersDisponible"><i class="fas fa-angle-left" style="padding-right:15px"></i></a>
									<a href="#" id="transfererToutSousGroupeSelectionneVersDisponible"><i class="fas fa-angle-double-left" style="padding-right:15px"></i></a>
								</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="vertical-align: top;border-right: solid 3px #f8f9fa">
								<div class="input-group">
						           <input type="text" id="search_sousGroupe" name="search" class="form-control form-control-sm" placeholder="Search">
						       		<span class="input-group-append">
			                       		<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
			                       </span>
						       	</div>
								<ul id="liste_sousGroupe" class="ztree"></ul>
							</td>
							<td style="vertical-align: top;">
								<div class="input-group">
						           <input type="text" id="search_sousGroupe_selectionnes" name="search" class="form-control form-control-sm" placeholder="Search">
						       		<span class="input-group-append">
			                       		<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
			                       </span>
						       	</div>
								<ul id="liste_sousGroupe_selectionnes" class="ztree"></ul>
							</td>
						</tr>
					</tbody>
				</table>
					
		
				<script>
				
					function selectNode(node, source, destination)
					{
						if(node.isParent)
							{
								children = node.children;
								l=children.length;
								while (l>0)
									{
										selectNode(children[children.length -l],source, destination);
										l--;
									}
								
							}
						else 
							{
								if(node.name != "/")
								{ 
									indicateurId = $('#indicateur').val();
									var params =[];
									var index = destination.getNodeByParam("name", node.name, null);
									if(index == null){
										destination.addNodes(null, node);
									}
									params[0] = node.id;
									if(index == null){
										$.post('/ajoutSousGroupeIndicateur',{params:params,indicateurId:indicateurId},function(dat){
										});
									}
								}
							}
						
					}
					$(document).ready(function () {
						$.fn.zTree.init($("#liste_sousGroupe"), settingSousGroupe, zNodesSousGroupe);
						$.fn.zTree.init($("#liste_sousGroupe_selectionnes"), settingSousGroupe, zNodesSousGroupeSelectionnes);
						$("#tb_strategie").colResizable();
						
						$('#search_sousGroupe').keypress(function(){
					    	 if($(this).val() != "")
					    	 { 
					    		 var treeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							      var nodes = treeObj.getNodesByParamFuzzy("name", $(this).val(), null);
							      $.fn.zTree.init($("#liste_sousGroupe"), settingSousGroupe, nodes); 
					    	 }else
					    	{
					    		 $.fn.zTree.init($("#liste_sousGroupe"), settingSousGroupe, zNodesSousGroupe);
					    	}
							 
					      });
						$('#search_sousGroupe_selectionnes').keypress(function(){
					    	 if($(this).val() != "")
					    	 { 
					    		 var treeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe_selectionnes");
							      var nodes = treeObj.getNodesByParamFuzzy("name", $(this).val(), null);
							      $.fn.zTree.init($("#liste_sousGroupe_selectionnes"), settingSousGroupe, nodes); 
					    	 }else
					    	{
					    		 $.fn.zTree.init($("#liste_sousGroupe_selectionnes"), settingSousGroupe, zNodesSousGroupeSelectionnes);
									
					    	}
							 
					      });
						
						
						$('#transfererSousGroupeDisponibleVersSelectionne').click(function(){
							indicateurId = $('#indicateur').val();
							source = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							destination = $.fn.zTree.getZTreeObj("liste_sousGroupe_selectionnes");
							var l=source.getSelectedNodes().length;
							while (l>0) {
								selectNode(source.getSelectedNodes()[l-1], source, destination);
								l--;
							}
							
							
						});
						
						$('#transfererSousGroupeSelectionneVersDisponible').click(function(){
							indicateurId = $('#indicateur').val();
							var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe_selectionnes");
							var treeNodes = sourceTreeObj.getSelectedNodes();
							var l=treeNodes.length;
							
							var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							
							var params =[];
							var p = 0;
							while (l>0) {
								var sousGroupe = treeNodes[l-1];
								/*destinationTreeObj.addNodes(destinationTreeObj.getNodes()[0], sousGroupe);*/
								sourceTreeObj.removeNode(sousGroupe);
								l--;
								
								params[p] = sousGroupe.id;
								p++;
							}
							$.post('/suppressionSousGroupeIndicateur',{params:params,indicateurId:indicateurId},function(dat){
							});
							
							
						});
						
						$('#transfererToutSousGroupeDisponibleVersSelectionne').click(function(){
							indicateurId = $('#indicateur').val();
							var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							var treeNodes = sourceTreeObj.getNodes()[0].children;
							var l=treeNodes.length;
							var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe_selectionnes");
							
							var params =[];
							var p = 0;
							while (l>0) {
								var sousGroupe = treeNodes[l-1];
								if(sousGroupe.name != "/")
								{ 
									var index = destinationTreeObj.getNodeByParam("name", sousGroupe.name, null);
									if(index == null){
										destinationTreeObj.addNodes(null, sousGroupe);
									}
									/*sourceTreeObj.removeNode(sousGroupe);*/
									params[p] = sousGroupe.id;
									p++;
								}
								l--;
								
								
								
							}
							
							if(index == null){
								$.post('/ajoutSousGroupeIndicateur',{params:params,indicateurId:indicateurId},function(dat){
								});
							}
							
							
						});
						
						$('#transfererToutSousGroupeSelectionneVersDisponible').click(function(){
							indicateurId = $('#indicateur').val();
							var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe_selectionnes");
							var treeNodes = sourceTreeObj.getNodes();
							var l=treeNodes.length;
							var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_sousGroupe");
							
							var params =[];
							var p = 0;
							
							while (l>0) {
								var sousGroupe = treeNodes[l-1];
								/*destinationTreeObj.addNodes(destinationTreeObj.getNodes()[0], sousGroupe);*/
								sourceTreeObj.removeNode(sousGroupe);
								l--;
								
								params[p] = sousGroupe.id;
								p++;
								
							}
							$.post('/suppressionSousGroupeIndicateur',{params:params,indicateurId:indicateurId},function(dat){
							});
						});
						
						
					      
				  });
		
				</script>

		      </div>
		    </div>   
		  </div>
		</div>
	</div>
</body>
</html>
