
 <div class="row">
    <div class="col-lg-12">
        <!-- Default card start -->
        <div class="card">
            <div class="card-header titre-page">
                <h2>Consultation ouvrages hydrauliques</h2>
                <span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <form class="form-material" action="./?page=consultation_hydrauliques">
            <div class="card">
                <div class="card-header">
                    <h5>Informations générales et localisation</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez  </option>
                                    <option> Agadez </option>
                                    <option> Diffa </option>
                                    <option> Dosso </option>
                                 </select>
                                 <span class="form-bar"></span>
                                <label class="float-label">Région</label>
                             </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez  </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Département</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez  </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Commune</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Localité</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <a class="btn-primary btn"> <i class="fa fa-eye"></i> Consulter </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5>Fiche localité</h5>
                </div>
                <div class="card-body">
                    <div class="row invoive-info">
                        <div class="col-md-4 col-xs-12 invoice-client-info">
                            <h6>Population rurale : 300 000</h6>
                        </div>
                        <div class="col-md-4 col-xs-12 ">
                            <h6>Population urbaine : 800 000</h6>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h6 >Population totale : 1 100 000 </h6>
                        </div>
                    </div>
                    <div class="row invoive-info">
                        <div class="col-md-4 col-xs-12 invoice-client-info">
                            <h6>Forages : 1500</h6>
                        </div>
                        <div class="col-md-4 col-xs-12 ">
                            <h6>Puits : 800</h6>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h6 >AEP : 1700 </h6>
                        </div>
                    </div>
                </div>
            </div>

     

<div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs  tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#autre" role="tab"><i class="icofont icofont-home"></i> Forages </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#realisation" role="tab"><i class="icofont icofont-home"></i> Puits </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Qualite" role="tab"><i class="icofont icofont-ui-user "></i> AEP </a>
                                </li>
                               
                                
                            </ul>
                            <div class="tab-content card-block">
                                <div class="tab-pane active" id="autre" role="tabpanel">

                                   <div class="dt-responsive table-responsive">
                                        <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nom ouvrage</th>
                                                    <th>Date de mise en service</th>
                                                    <th>Etat</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="realisation" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nom ouvrage</th>
                                                    <th>Date de mise en service</th>
                                                    <th>Etat</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="Qualite" role="tabpanel">
                                    <div class="dt-responsive table-responsive">
                                        <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nom ouvrage</th>
                                                    <th>Date de mise en service</th>
                                                    <th>Etat</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                <tr>
                                                    <td>ABACHAN</td>
                                                    <td>16/05/2003</td>
                                                    <td>Fonctionnel</td>
                                                    <td>13.9880555555556</td>
                                                    <td>7.81388888888889</td>
                                                    <td><a class="btn btn-primary" href=""> <i class="fa fa-eye"></i> Voir </a></td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-sm-12 pull-right" style="text-align: center;">
                                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1v6J0K9pUZ7OaWMFahsYphKU4O2RwtYNA&ehbc=2E312F" width="840" height="480"></iframe>
                            </div>  
                        </div>        
                    </div>
                </div>
            </div>
        </form>
    </div>