<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div> 
		<div class="modal fade" id="myModal" tabindex="-1">
		 <form  class="form-validation" th:object="${ficheTechniqueForm}" method="post" th:action="@{/{link}(link=${'ajouterFicheTechnique/'+indicateur.code+'/'+typeClassification_code})}">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" th:text="${indicateur.libelle}"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		     
		        <div class="form-group">
					<label for="definition" th:text="#{_definition}"> <span class="text-danger">*</span></label>
					<textarea rows="3" th:field="*{definition}" required class="form-control" th:classappend="${#fields.hasErrors('definition')} ? 'border-danger'"></textarea>
					<small class="text-danger" th:if="${#fields.hasErrors('definition')}" th:errors="*{definition}"></small>
				</div>
				<div class="form-group">
					<label for="donneesRequises" th:text="#{_donneesRequises}"> <span class="text-danger">*</span></label>
					<textarea rows="3" th:field="*{donneesRequises}" required class="form-control" th:classappend="${#fields.hasErrors('donneesRequises')} ? 'border-danger'"></textarea>
					<small class="text-danger" th:if="${#fields.hasErrors('donneesRequises')}" th:errors="*{donneesRequises}"></small>
				</div>
				<div class="form-group">
					<label for="methodeCalcul" th:text="#{_methodeCalcul}"> <span class="text-danger">*</span></label>
					<input type="text" th:field="*{methodeCalcul}" required class="form-control" th:classappend="${#fields.hasErrors('methodeCalcul')} ? 'border-danger'">
					<small class="text-danger" th:if="${#fields.hasErrors('methodeCalcul')}" th:errors="*{methodeCalcul}"></small>
				</div>					
		        <div class="form-group">
					<label for="commentaireLimite" th:text="#{_commentaireLimite}"> <span class="text-danger">*</span></label>
					<textarea rows="3" th:field="*{commentaireLimite}" required class="form-control" th:classappend="${#fields.hasErrors('commentaireLimite')} ? 'border-danger'"></textarea>
					<small class="text-danger" th:if="${#fields.hasErrors('commentaireLimite')}" th:errors="*{commentaireLimite}"></small>
				</div>
				<div class="form-group">
					<label for="periodicite" th:text="#{_periodicite}"> <span class="text-danger">*</span></label>
					<input type="text" th:field="*{periodicite}" required class="form-control" th:classappend="${#fields.hasErrors('periodicite')} ? 'border-danger'">
					<small class="text-danger" th:if="${#fields.hasErrors('periodicite')}" th:errors="*{periodicite}"></small>
				</div>
				<div class="form-group">
					<label for="niveauDesagregation" th:text="#{_niveauDesagregation}"> <span class="text-danger">*</span></label>
					<input type="text" th:field="*{niveauDesagregation}" required class="form-control" th:classappend="${#fields.hasErrors('niveauDesagregation')} ? 'border-danger'">
					<small class="text-danger" th:if="${#fields.hasErrors('niveauDesagregation')}" th:errors="*{niveauDesagregation}"></small>
				</div>
				<div class="form-group">
					<label for="unite" th:text="#{_unite}"> <span class="text-danger">*</span></label>
					<input type="text" th:field="*{unite}" required class="form-control" th:classappend="${#fields.hasErrors('unite')} ? 'border-danger'">
					<small class="text-danger" th:if="${#fields.hasErrors('unite')}" th:errors="*{unite}"></small>
				</div>
				<div class="form-group">
					<label for="source" th:text="#{_source}"> <span class="text-danger">*</span></label>
					<input type="text" th:field="*{source}" required class="form-control" th:classappend="${#fields.hasErrors('source')} ? 'border-danger'">
					<small class="text-danger" th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></small>
				</div>
				<div class="form-group">
					<label for="methodeCollecte" th:text="#{_methodeCollecte}"> <span class="text-danger">*</span></label>
					<input type="text" th:field="*{methodeCollecte}" required class="form-control" th:classappend="${#fields.hasErrors('methodeCollecte')} ? 'border-danger'">
					<small class="text-danger" th:if="${#fields.hasErrors('methodeCollecte')}" th:errors="*{methodeCollecte}"></small>
				</div>
		      </div>
		      <div class="modal-footer">
		      	<div class="form-group text-right mb-0">
					<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
					<button data-dismiss="modal" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
				</div>
				
		      </div>
		    </div>   
		  </div>
		  </form>
		</div>
	</div>
</body>
</html>
