<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
	</head>
	<body >
		<div th:fragment="breadcrumb"> 
			<ol class="breadcrumb" style="background-color:#f8f9fa !important;">
				
				<li class="active breadcrumb-item" aria-current="page" th:text="${navigationPath}"></li>
			</ol>
		</div>
	</body>
</html>
