<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
	</head>
	<body >
		<div th:fragment="horizontalMenu"> 
			<ul class="navigation-menu">
				<li><a href="/">Accueil<i class="mdi mdi-home"></i></a></li>
				<li><a href="/initPEM">Point d'eau <i class="mdi mdi-water-pump"></i></a></li>
				<li><a href="http://localhost:8080/sig_sinea">SIG <i class="mdi mdi-layers-triple"></i></a></li>
				<li class="has-submenu">
					<a href="#">PROSEHA</a>
					<ul class="submenu">
						<li><a href="/classificationIndicateur/1"><i class="mdi mdi-file-tree"></i> Cadre logique</a></li>
						<li><a href="/parametreSaisie/1"><i class="mdi mdi-square-edit-outline"></i> Saisie données</a></li>
						<li><a href="#"><i class="mdi mdi-database-export"></i> Extraction données</a></li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#"><span th:text="${session.user.prenom+' '+session.user.nom}">Invité </span> <i class="mdi mdi-account"></i></a>
					<ul class="submenu">
						<li><a href="#"><i class="mdi mdi-settings-outline"></i> Profil</a></li>
						<li>
							<a href="/logout"><i class="mdi mdi-logout"></i> Déconnexion</a>
						</li>
						
					</ul>
				</li>
				
			</ul>
		</div>
	</body>
</html>
