<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SINEA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="SystÃ¨me d'Information National sur l'Eau et l'Environnement." />
    <meta name="keywords"
        content="">
    <meta name="author" content="Sirba Communication" />
    <!-- Favicon icon -->
    <link rel="icon" href="/assets/images/log.ico" type="image/x-icon">
    <link href="/assets/glyphicon/css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
	<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
	<!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- Syntax highlighter Prism css -->
    <link rel="stylesheet" type="text/css" href="/assets/pages/prism/prism.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pcoded-horizontal.min.css">
    
    <script th:src="@{/assets/js/jquery-2.0.2.min.js}"></script>
	<link th:href="@{/assets/css/zTreeStyle.css}" rel="stylesheet" type="text/css" />
	
</head>
<!-- Menu horizontal fixed layout -->

<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-container">
            <div   th:replace="menu1 :: menu1"> </div>
            <div class="pcoded-main-container">
                <div   th:replace="menu2 :: menu2"> </div>
				<div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body" style="margin-top: 70px;">
                                <div class="page-wrapper" >
                                    <!-- Page body start -->
                                    <div class="page-body">
										<div th:if = "${viewPath}">
											<div class="col-xl-12">
								                <div class="card">
								                    <div class="card-header" th:if = "${navigationPath}">
								                        <h5 th:text="${navigationPath}"></h5>
								                        
								                    </div>
								                    <div class="card-block">
								                        <div   th:replace="${viewPath} :: pageContent">
													
														</div>
								                    </div>
								                </div>
								            </div>
											
										</div>  

                                    </div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup"> </div>
    <script th:src="@{/assets/js/jquery-2.0.2.min.js}"></script>
    
    <!--  <script type="text/javascript" src="/assets/bower_components/jquery/js/jquery.min.js"></script>-->
    <script type="text/javascript" src="/assets/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/assets/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/assets/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/bower_components/modernizr/js/css-scrollbars.js"></script>
	<script type="text/javascript" src="/assets/bower_components/chart.js/js/Chart.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
    <script src="/assets/js/vertical/menu/menu-hori-fixed.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    
    <script th:src="@{/assets/js/jquery.ztree.core.js}"></script>
	<script th:src="@{/assets/js/jquery.ztree.excheck.js}"></script>
	<script th:src="@{/assets/js/jquery.ztree.exedit.js}"></script>
	<script th:src="@{/assets/js/colResizable-1.6.min.js}"></script>
  
	<script type="text/javascript">
	$(document).ready(function () {
		$(".tab-content").tabs('select',0);
	});
    </script>
</body>
</html>