<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<!--<div id="toast_area" style="height:5px;position:absolute;top: 0; right: 0;z-index:999">
			<div class="toast fade show" th:each="forage : ${unsavedForages}">
		        <div class="toast-header bg-danger" style="color:#fff">
		            <strong class="mr-auto"><i class="mdi mdi-alert"></i> Avertissement!</strong>
		            <small>non enregistré</small>
		            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
		        </div>
		        <div class="toast-body" th:text="${forage}"> </div>
		    </div>
		</div>
		<div style="margin-left: 20px;">
	    	<button id="btn_import_forage" class="btn btn-sm btn-primary waves-effect"><i class="mdi mdi-import" style="padding-right:15px;padding-left:15px"></i>Import Forage</button>
	    	<button id="btn_import_puits" class="btn btn-sm btn-primary waves-effect"><i class="mdi mdi-import" style="padding-right:15px;padding-left:15px"></i>Import Puits</button>
	    	<button id="btn_import_aep" class="btn btn-sm btn-primary waves-effect"><i class="mdi mdi-import" style="padding-right:15px;padding-left:15px"></i>Import AEPS</button>
	    	
	    </div>
		<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
			<div class="col-lg-3">
				<div class="form-group">
					<label for="region" th:text="#{_region}"> <span class="text-danger">*</span></label>
					<select id="select_region" class="form-control" data-live-search="true">
						<option value="">Selectionner la region</option>
						<option th:each="region : ${regions}" th:attr="value=${region.code}"  th:text="${region.libelle}"> </option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label for="departement" th:text="#{_departement}"> <span class="text-danger">*</span></label>
					<select id="select_departement" class="form-control" data-live-search="true">
						<option value="">Vide</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label for="commune" th:text="#{_commune}"> <span class="text-danger">*</span></label>
					<select id="select_commune" class="form-control" data-live-search="true">
						<option value="">Vide</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label for="localite" th:text="#{_localite}"> <span class="text-danger">*</span></label>
					<select id="select_localite" class="form-control" data-live-search="true">
						<option value="">Vide</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
			<div class="col-lg-3">
				<div class="form-group">
					<label for="numeroIRH" th:text="#{_irh}"> <span class="text-danger">*</span></label>
					<input type="text" class="form-control" id="numeroIRH">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label for="nomPEM" th:text="#{_nom}"> <span class="text-danger">*</span></label>
					<input type="text" class="form-control" id="nomPEM">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label for="typeOuvrage" th:text="#{_typeOuvrage}"><span class="text-danger">*</span></label>
					<select class="form-control" data-live-search="true" id="typeOuvrage">
						<option value="">Choisir une option</option>
						<option th:each="typeOuvrage : ${typeOuvrages}" th:attr="value=${typeOuvrage.code}"  th:text="${typeOuvrage.libelle}"></option>
					</select>
				</div>
			</div>
			<div class="col-lg-3" style="margin-top:30px">				
				<button id="btn_ajout_point_eau" class="btn btn-sm btn-primary waves-effect">Créer ouvrage</button>
    			<button id="btn_ouvrir_localite" class="btn btn-sm btn-primary waves-effect">Ouvrir localité</button>
			</div>
		</div>-->
		
		
 <div class="row">
    <div class="col-lg-12">
        <!-- Default card start -->
        <div class="card">
            <div class="card-header titre-page">
                <h2>Consultation ouvrages hydrauliques</h2>
                <span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <form class="form-material" action="./?page=consultation_hydrauliques">
            <div class="card">
                <div class="card-header">
                    <h5>Informations générales et localisation</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez  </option>
                                    <option> Agadez </option>
                                    <option> Diffa </option>
                                    <option> Dosso </option>
                                 </select>
                                 <span class="form-bar"></span>
                                <label class="float-label">Région</label>
                             </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez  </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Département</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez  </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Commune</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <select class="form-control" id="region">
                                    <option> Sélectionnez </option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label">Localité</label>
                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-group form-default form-static-label">
                                <a class="btn-primary btn"> <i class="fa fa-eye"></i> Consulter </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5>Fiche localité</h5>
                </div>
                <div class="card-body">
                    <div class="row invoive-info">
                        <div class="col-md-4 col-xs-12 invoice-client-info">
                            <h6>Population rurale : 300 000</h6>
                        </div>
                        <div class="col-md-4 col-xs-12 ">
                            <h6>Population urbaine : 800 000</h6>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h6 >Population totale : 1 100 000 </h6>
                        </div>
                    </div>
                    <div class="row invoive-info">
                        <div class="col-md-4 col-xs-12 invoice-client-info">
                            <h6>Forages : 1500</h6>
                        </div>
                        <div class="col-md-4 col-xs-12 ">
                            <h6>Puits : 800</h6>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h6 >AEP : 1700 </h6>
                        </div>
                    </div>
                </div>
            </div>

     

<div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs  tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#autre" role="tab"><i class="icofont icofont-home"></i> Forages </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#realisation" role="tab"><i class="icofont icofont-home"></i> Puits </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Qualite" role="tab"><i class="icofont icofont-ui-user "></i> AEP </a>
                                </li>
                               
                                
                            </ul>
                            <div class="tab-content card-block">
                                <div class="tab-pane active" id="autre" role="tabpanel">

                                   <div class="dt-responsive table-responsive">
                                        
                                    </div>
                                </div>
                            </div>
		
			
		<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
			<div class="col-lg-12">
				<table id="tab" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
					<thead>
						<tr>
							<th>Nom ouvrage</th>
							<th style="width:10%">Type ouvrage</th>
							<th style="width:10%">Date mise en service</th>
							<th style="width:10%">Etat actuel</th>
							<th style="width:10%">Latitude</th>
							<th style="width:10%">Longitude</th>
							<th style="width:15%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ouvrage : ${ouvrages}">
							<td th:text="${ouvrage.nomOuvrage}"></td>
							<td th:text="${ouvrage.typeOuvrage}"></td>
							<td th:text="${ouvrage.dateMiseEnService}"></td>
							<td th:text="${ouvrage.etatActuel}"></td>
							<td th:text="${ouvrage.latitude}"></td>
							<td th:text="${ouvrage.longitude}"></td>
							<td align="center" > 
								<a th:href="@{/{lien}(lien=${ouvrage.lien})}" class="btn_edit_point_eau btn btn-sm btn-primary waves-effect"><span th:text="#{_atteindre}"></span></a>
							</td>							
						</tr>
					</tbody>
				</table>				
			</div>
		</div>
		<script>
				$(document).ready(function () {
					$(".table").DataTable({
				        language: {
				            url: 'assets/js/French.json'
				        	},
				        columnDefs: [{
						   	targets : -1,
						   	searchable : false,
						   	orderable : false,
						   	width : '1%'
							}]
				    });
					
						$('#btn_import_forage').click(function(){
							$.get('/importForage/',function(dat){
								$('#popup').html(dat);
								$("#myModal").modal('show');
							});
							
						});
						
						$('#btn_import_puits').click(function(){
							$.get('/importPuitsCimente/',function(dat){
								$('#popup').html(dat);
								$("#myModal").modal('show');
							});
							
						});
						
						$('#btn_import_aep').click(function(){
							$.get('/importAEP/',function(dat){
								$('#popup').html(dat);
								$("#myModal").modal('show');
							});
							
						});
						
						
						
						$("#select_region" ).change(function(){
							code = $("#select_region option:selected").val();
							$.get('/getZoneByParentCode/'+code,function(dat){
								$('#select_departement').html(dat);
								$('#select_commune').html('<option value="">Vide</option>');
								$('#select_localite').html('<option value="">Vide</option>');
							});
						});
						
						$("#select_departement" ).change(function(){
							code = $("#select_departement option:selected").val();
							$.get('/getZoneByParentCode/'+code,function(dat){
								$('#select_commune').html(dat);
								$('#select_localite').html('<option value="">Vide</option>');
							});
						});
						
						$("#select_commune").change(function(){
							code = $("#select_commune option:selected").val();
							$.get('/getLocaliteByParentCode/'+code,function(dat){
								$('#select_localite').html(dat);
							});
						});
						
						$("#btn_ajout_point_eau").click(function(){
							
							numeroIRH = $("#numeroIRH").val();
							nomPEM = $("#nomPEM").val();
							typeOuvrage = $("#typeOuvrage option:selected").text();
							if(typeOuvrage == "Forage")
								{
									$.post('/addForage',{"numeroIRH":numeroIRH,"nomPEM":nomPEM},function(code){
										 window.location.replace("/forage/"+code);
									});
								}
							else
								if(typeOuvrage == "Puits Cimenté")
								{
									$.post('/addPuits',{"numeroIRH":numeroIRH,"nomPEM":nomPEM},function(code){
										 window.location.replace("/puits/"+code);
									});
								}
							else
								if(typeOuvrage == "AEP")
								{
									$.post('/addAEP',{"numeroIRH":numeroIRH,"nomAEP":nomPEM},function(code){
										 window.location.replace("/aep/"+code);
									});
								}	
						});

				      
				    });
		
			</script>
		
	</div>
</body>
</html>