<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div> 
		<div class="modal fade" id="myModal" tabindex="-1">
		 	<div class="modal-dialog modal-lg">
		    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" >Import Puits Cimenté</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
		      <div class="modal-body">
		     	<form  action="/importPuitsCimente" class="form-validation"  enctype="multipart/form-data" method="post">
					<div class="form-group">
						<label for="file">Selectionner le fichier <span class="text-danger">*</span></label>
						<br/>
						<input type="file" name="file"  required class="form-control filestyle" data-btnClass="btn-primary">
					</div>
					
					<div class="form-group text-right mb-0">
						<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
						<button data-dismiss="modal" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
					</div>

				</form>

		      </div>
		    </div>   
		  </div>
		</div>
	</div>
</body>
</html>
